@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
}

:root {
  --Hwhite: #fafafa;
  --Hlightgray: #adadad;
  --Hdarkgray: #222221;
  --Hred: #fe0212;
  --Hblye: #181237;
}

/* ********************** */
/* TIMESHEET PAGE STYLING */
/* ********************** */

.timesheetOuter {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.timesheetInner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputsOuter {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.inputsInner {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.inputsInner label {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.inputsInner input {
  width: 90%;
  height: 40px;
  outline: none;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  font-size: 1.2em;
  transition: 0.3s ease-in-out;
}

.inputsInner input:focus {
  border-color: red;
}

.inputDate {
  display: flex;
  flex-direction: row;
}

.inputDate input {
  width: 20%;
  text-align: center;
  margin-right: 10px;
}

#hoursWorked,
#hoursWorkedOvertime {
  width: 25%;
  text-align: center;
}

@media (max-width: 55em) {
  .inputsInner {
    width: 100%;
  }

  #hoursWorked,
  #hoursWorkedOvertime {
    width: 50%;
  }
}

.inputsInner textarea {
  width: 90%;
  height: 200px;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.3em;
  transition: 0.3s ease-in-out;
}

@media (max-width: 45em) {
  .timesheetOuter {
    padding: 0;
  }

  .inputsOuter {
    padding: 3px;
  }

  .inputDate input {
    width: 30%;
  }

  .inputsInner input {
    width: 100%;
  }

  #hoursWorked,
  #hoursWorkedOvertime {
    width: 80%;
  }

  .inputsInner textarea {
    width: 100%;
  }
}

.inputsInner textarea:focus {
  border-color: red;
}

.inputsInner select {
  width: 40%;
  padding: 10px;
  font-size: 1.3em;
}

.submitBtn {
  width: 20%;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitBtn:hover {
  border-color: red;
}

.backBtn {
  font-size: 1.3em;
  color: black;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.backBtn:hover {
  color: red;
}

.italic {
  font-style: italic;
}

/* *************************** */
/* UPLOAD SUCCESS PAGE STYLING */
/* *************************** */

.upload_outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload_inner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload_inner p {
  font-size: 1.7em;
  padding: 50px;
  text-align: center;
}

.upload_inner button {
  border: 1px solid black;
  outline: none;
  font-size: 1.4em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 7px;
  padding: 40px;
}

.upload_inner a {
  text-decoration: none;
  color: black;
}

.upload_inner button:hover {
  border-color: red;
}

.upload_img {
  width: 200px;
  height: 200px;
}

/* ************************ */
/* VEHICLE LOG PAGE STYLING */
/* ************************ */

.vehiclelogouter {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 45em) {
  .vehiclelogouter {
    padding: 0;
  }

  #reg {
    width: 100%;
  }
}

.vehicleloginner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* styling for dash  */

:root {
  --main-color: red;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

#sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: #fff;
  overflow-y: auto;
  transition: width 500ms;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-menu {
  padding: 1rem;
}

.sidebar li {
  margin-bottom: 1.2rem;
}

.sidebar a {
  color: #fff;
  font-size: 0.9rem;
}

.sidebar a span:last-child {
  padding-left: 0.6rem;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
  left: 60px;
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}

header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  transition: left 500ms;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons span,
.social-icons div {
  margin-left: 1.2rem;
}

.social-icons div {
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url();
  border-radius: 50%;
}

main {
  margin-top: 60px;
  background: #f1f5f9;
  min-height: 90vh;
  padding: 1rem 3rem;
}

@media (max-width: 45em) {
  main {
    padding: 1rem 1rem;
  }
}

@media (max-width: 55em) {
  main {
    padding: 1rem 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 60px;
    z-index: 150;
  }

  .sidebar .sidebar-header h3 span,
  .sidebar li span:last-child {
    display: none;
  }

  .sidebar .sidebar-header,
  .sidebar li {
    display: flex;
    justify-content: center;
  }

  .main-content {
    margin-left: 60px;
  }

  .main-content header {
    left: 60px;
    width: calc(100% - 60px);
  }
  #sidebar-toggle:checked ~ .sidebar {
    width: 240px;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: inline;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
  }

  #sidebar-toggle:checked ~ .sidebar li {
    display: block;
  }

  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
  }

  #sidebar-toggle:checked ~ .main-content header {
    left: 60px;
  }
}

@media only screen and (max-width: 860px) {
  .dash-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-single {
    margin-bottom: 1rem;
  }
  .activity-grid {
    display: block;
  }
  .summary {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .dash-cards {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 450px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* ********************* */
/* SETTINGS PAGE STYLING */
/* ********************* */

.settings_outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}




.settings_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#margin {
  border-bottom: 2px solid grey;
  padding: 20px;
}

.changeBtn {
  width: 60%;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.changeBtn:hover {
  border-color: red;
}

.inputsSettings {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.inputsSettings label {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.inputsSettings input {
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  font-size: 1.2em;
  transition: 0.3s ease-in-out;
}

.inputsSettings input:focus {
  border-color: red;
}

.settingsInputOuter {
  display: flex;
  flex-wrap: wrap;
}

.password_form {
  width: 100%;
}

.errorMsg {
  color: var(--Hred);
  font-size: 1.4em;
}

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 90%;
  height: 0.5em;
  margin-top: 10px;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

@media(max-width: 55em) {
    .settings_outer {
        padding: 3px;
    }

    meter {
        width: 100%;
    }

    .settingsInputOuter {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .settingsInputOuter .inputsSettings {
        width: 100%;
    }

    .details_form {
        width: 100%;
    }
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"] {
  background-color: red;
}

meter[value="2"] {
  background-color: yellow;
}

meter[value="3"] {
  background-color: orange;
}

meter[value="4"] {
  background-color: green;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value {
  background: red;
}
meter[value="2"]::-webkit-meter-optimum-value {
  background: yellow;
}
meter[value="3"]::-webkit-meter-optimum-value {
  background: orange;
}
meter[value="4"]::-webkit-meter-optimum-value {
  background: green;
}

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar {
  background: red;
}
meter[value="2"]::-moz-meter-bar {
  background: yellow;
}
meter[value="3"]::-moz-meter-bar {
  background: orange;
}
meter[value="4"]::-moz-meter-bar {
  background: green;
}

/* ********************* */
/* PAYSLIP PAGE STYLING */
/* ********************* */

.payslipOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payslipElementOuter {
  width: 100%;
  display: flex;
  margin: 25px 0;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Hwhite);
  border-radius: 5px;
  border-left: 15px solid var(--Hred);
}

@media (max-width: 55em) {
    .payslipElementOuter{
        flex-wrap: wrap;
    }
}

@media(max-width: 45em) {
    .payslipElementOuter {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .payslipElementOuter p {
        margin: 5px;
    }
}

/* ********************** */
/* DASHBOARD PAGE STYLING */
/* ********************** */

.dashOuter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dashSmallOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin-bottom: 30px;
}

.dashSmallInner {
  width: 45%;
  background-color: var(--Hwhite);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.dashSmallInner p {
  line-height: 1.6;
  font-size: 1.3em;
  text-align: center;
}

.dashGraph {
  text-align: center;
  padding: 20px;
  font-size: 1.1em;
}

.dashSmallInner button {
  padding: 15px;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  margin: 10px;
}

.dashLargeOuter {
  width: 90%;
  background-color: var(--Hwhite);
  position: relative;
  border: 1px solid black;
}

@media (max-width: 45em) {
  .dashSmallOuter {
    flex-direction: column;
  }

  .dashSmallInner {
    width: 95%;
    margin-bottom: 10px;
  }

  .dashSmallInner p {
    font-size: 1em;
    line-height: 1.3;
  }
}
