@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}

body{
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #FAFAFA;
	
}

html, body { min-height: 100vh; }

/*Title div used throughout site*/
.title{
  font-size: x-large;
  text-align: center;
  height: 30%;
  color: #111; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center; 
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  margin: 0;
}

/*Nav bar*/
nav{
  height: 80px;
  width: 100%;
  z-index: 20;
  font-family: poppins;
  display: inline;
  overflow:hidden;
  text-align: center;
}

.nav-logo{
	left:0;
	width: 20%;
	margin: 0;
	position: relative;
}

.nav-logo img{
	width: 100%;
	position: absolute;
	left:0;
}

nav ul{
  float: right;
  margin-right: 20px;
  z-index: 20;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #222221;
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active{
  text-decoration: underline;
  color: #FE0212;
}

a:hover{
  background: #ADADAD;
  transition: .5s;
}

nav ul li:hover{
  font-weight: bold;
}
.checkbtn{
  font-size: 30px;
  color: #FE0212;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

/*Jobs Page*/
.job-page {
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	width: 100%;
	padding: 5%;
  }
  
.job-page .job-box {
	width: 47%;
	display: block;
	overflow: hidden;
	height: 400x;
	padding: 20px;
	margin:5px;
	margin-left:10px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 1px;
	border: solid #ADADAD;
	background-color: #FEFEFE;
}

.job-page .job-box ul {
	list-style-type: circle;
}

.job-page .job-box form{
	height: 100%;
	width: 100%;
}

.job-page .job-box form button[type="submit"]{
	font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

.form-container{
	display: inline-block; 
	width: 80%;
}

#jobForm input[type="text"], #jobForm input[type="email"], #jobForm input[type="tel"], #jobForm button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#jobForm {
	padding:25px;
	margin-top:5%; 
	width: 100%;
}

#jobForm h3 {
	color: #222221;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#jobForm h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#jobForm input[type="text"], #jobForm input[type="email"], #jobForm input[type="password"], #jobForm input[type="tel"], #jobForm input[type="url"], #jobForm textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#jobForm input[type="text"]:hover, #jobForm input[type="email"]:hover, #jobForm input[type="tel"]:hover, #jobForm input[type="url"]:hover, #jobForm textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#jobForm textarea {
	height:100px;
	max-width:100%;
	resize:none;
}

#jobForm button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#222221;
	color:#FEFEFE;
	margin:0 0 5px;
	padding:25px 10px;
	font-size:15px;
	text-transform: uppercase;
}

#jobForm button[type="submit"]:hover {
	background:#ADADAD;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#jobForm button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#jobForm input:focus, #jobForm textarea:focus {
	outline:0;
	border:1px solid #999;
}

#consentText{
	color: #FE0212;
}

.no-jobs{
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	width: 100%;
	padding: 5%;
	height: auto;
}
  
.no-jobs .job-message{
	width: 100%;
	display: block;
	height: 100%;
	padding: 5px;
	margin:5px;
	margin-left:10px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 1px;
	border: solid #ADADAD;
	background-color: #FEFEFE;
}


/*Services*/

.service-page {
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	width: 100%;
	padding: 5%;
	height: auto;
}
  
.service-page .service-box {
	width: 31%;
	display: block;
	height: 500px;
	padding: 5px;
	margin:5px;
	margin-left:10px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 1px;
	border: solid #ADADAD;
	background-color: #FEFEFE;
	color: #222221;	
}

.service-page .service-box ul {
	list-style-position: inside;
	list-style-type: circle;
	display:flex;
	flex-direction: column;
}

.service-logo{
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
}

.service-logo .service-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;

	filter: invert(100%);
	-webkit-filter: invert(100%);
}

/*Footer*/
footer{
	position: relative;
	bottom: 0;
}


.footer-distributed{
	background-color: #222221;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #FAFAFA;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 80%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #FAFAFA;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Centre of footer */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #222221;
	color: #FAFAFA;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #FAFAFA;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #FE0212;
	text-decoration: none;
}


/*Right hand side of footer*/

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ADADAD;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #FAFAFA;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #FAFAFA;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/*Contact Form*/
/* Style the container/contact section */
.container {
	width:100%;
	margin:0 auto;
	position:relative;
	text-align: center;
	border-radius: 2%;
	padding-top: 0;
}

.container i.fa-phone{
	font-size: 30px;
	line-height: 38px;
}

#contact input[type="text"], #contact input[type="email"],  #contact input[type="password"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	padding:25px;
	
}

#contact h3 {
	color: #000;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="password"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
	resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#ADADAD;
	color:#FFF;
	margin:0 0 5px;
	padding:25px 10px;
	font-size:15px;
	text-transform: uppercase;
}

#contact button[type="submit"]:hover {
	background:#222221;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}

::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


#errorMessage{
	display: none;
	color: #FE0212;
}

@media (max-height:800px){
	.title { 
		position: static; 
 		padding-top:40px; 
	} 
}

@media (max-width: 952px){
	label.logo{
	  font-size: 30px;
	  padding-left: 50px;
	}
	nav ul li a{
	  font-size: 16px;
	}
	.nav-logo{
		width: 40%;
	}
  }
  @media (max-width: 858px){
	.checkbtn{
	  display: block;
	}
	ul{
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  background: #ADADAD;
	  top: 80px;
	  left: -100%;
	  text-align: center;
	  transition: all .5s;
	}
	nav ul li{
	  display: block;
	  margin: 50px 0;
	  line-height: 30px;
	}
	nav ul li a{
	  font-size: 20px;
	}
	a:hover,a.active{
	  background: none;
	  color: #FE0212;
	}
	#check:checked ~ ul{
	  left: 0;
	}
  }

  @media screen and (max-width: 800px) {
	.job-page .job-box {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 800px) {
	.service-page .service-box {
		width: 100%;
		height: auto;
	}
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

/*Making footer responsive to different screen sizes*/
@media (max-width: 880px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

@media (max-width:650px){
	.form-container{
		width: 100%;
	}
	#jobForm {
		padding:25px;
		margin:80px 0; 
		width: 80%;
		display: inline-block; 
	}
}



/*homepage*/

.home-img-background{
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




/*  Intro - home page */

.info-text-wrapper{
    padding: 5% 10% 5% 10%;

}



/* Services - home page */

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}

.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 50%;
    align-content: center; 
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: #FE0212;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

  @media screen and (max-width: 800px) {
	.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr ;    
        }
    
	}




/* Reviews - home page */

.review-item-wrapper{
    padding: 5% 10% 5% 10%;

}

#show{
	cursor:pointer;
	width:20%;
	border:none;
	background:#ADADAD;
	color:#FFF;
	margin:0 0 5px;
	padding:5px;
	font-size:1rem;
	text-transform: uppercase;
}

#show:hover {
	background:#222221;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#new-review input[type="text"], #new-review textarea, #new-review button[type="submit"] {
     border-radius: 10px;
}

.review-form{
	width: 100%;
    text-align: center;
}

#rev-form{
    display: none;
}

#new-review {
	padding:25px;
	
}

#new-review h3 {
	color: #000;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#new-review h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

#new-review input[type="text"], #new-review textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#new-review input[type="text"]:hover, #new-review textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#new-review textarea {
	height:100px;
	max-width:100%;
	resize:none;
}

#new-review button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#ADADAD;
	color:#FFF;
	margin:0 0 5px;
	padding:25px 10px;
	font-size:15px;
	text-transform: uppercase;
}

#new-review button[type="submit"]:hover {
	background:#222221;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#new-review button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#new-review input:focus, #new-review textarea:focus {
	outline:0;
}





/* about page  */

.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}

.wrapper .date{
    color: #181237;
}

.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #ADADAD;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #ADADAD;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #ADADAD;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FE0212;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}

@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}






